* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("../picture/5576540.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 75vh;
    width: 100%;
}
.navbar{
    height: 6vh;
}